@font-face {
    font-family: 'Terror';
    src: url(../fonts/October\ Crow.ttf);
    font-weight: bold;
    font-style: bold;
    
}

@font-face{
    font-family: 'Terror2';
    src: url(../fonts/sdhauntedhouse_demo.ttf);
    font-weight: bold;
    font-style: bold;
}



body{
    background-color: black;
}

#scenario{
    background-color: aliceblue;
    width: 1500px;
    margin: auto;
    position: relative;
    
}
#scenario img{
display: block;
width: 1550px;

}

#puerta{
    position: absolute;
    width: 60px;
    height: 130px;
    bottom: 200px;
    right: 680px;
    border: 3px solid rgb(146, 214, 20)
}

#ventana{
    position: absolute;
    width: 70px;
    height: 110px;
    bottom: 230px;
    right: 800px;
    border: 3px solid rgb(146, 214, 20)
}

#fant img {
    position:absolute;
    width: 100px;
    top:-170px;
    left:100px;
    right: 1000px;
    visibility: hidden;
}

#botonmusic{
    border: 2px solid rgb(138, 187, 24);
    visibility: visible;
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 825px;
    right: 1385px;
    
    
}

#botonmusic2{
    border: 2px solid rgb(138, 187, 24);
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 825px;
    right: 1385px;
    
    
}

#scenario p{
    visibility: visible;
    position: absolute;
    left: 60px;
    
    padding: 5px;
    color: blueviolet;
    
}

#lampara{
    position: absolute;
    width: 70px;
    height: 110px;
    bottom: 555px;
    left: 310px;
    border: 3px solid rgb(146, 214, 20)

}

#lampara2{
    position: absolute;
    width: 70px;
    height: 110px;
    bottom: 555px;
    right: 275px;
    border: 3px solid rgb(146, 214, 20)

}



#brujita{
    width: 1500px;
    margin: auto;
    position: relative;
}
#bruja{
    position:absolute;
    width: 130px;
    top:-880px;
    left:510px;
    right: 1000px;
}

#jumpscare{
    visibility: hidden;
    position: absolute;
    width: 1200px;
    top:-920px;
    right: 100px;
}

#sangre{
    width: 1500px;
    margin: auto;
    position: absolute;
}

#ventanajumpscare{
    position: absolute;
    width: 80px;
    height: 110px;
    bottom: 410px;
    right: 660px;
    border: 3px solid rgb(146, 214, 20)
}

#textoterror{
    font-family: 'Terror';
    position: absolute;
    width: 1000px;
    height: 130px;
    bottom: 650px;
    right: -350px;
    font-size: 90px;
    color: brown;
}

#textoterror2{
    font-family: 'Terror2';
    position: absolute;
    width: 1000px;
    height: 130px;
    bottom: 550px;
    right: -500px;
    font-size: 90px;
    color: rgb(175, 190, 38);
}