@font-face {
    font-family: 'Terror';
    src: url(../fonts/October\ Crow.ttf);
    font-weight: bold;
    font-style: bold;
    
}

@font-face{
    font-family: 'Terror2';
    src: url(../fonts/sdhauntedhouse_demo.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face{
    font-family: 'Terror3';
    src: url(../fonts/MortifiedDrip.ttf);
    font-weight: bold;
    font-style: bold;
}



body{
    background-color: black;
}



#scenario{
    background-color: aliceblue;
    width: 1500px;
    margin: auto;
    position: relative;
    visibility: visible;
}

#wallpaper{
display: block;
width: 1550px;

}
/*posicion de la luna de pesadilla antes de navidad*/
#lunawapa{
    position: absolute;
    top: 0px;
    left: 20px;
    visibility: hidden;
}

#gargola{
    position: absolute;
    width: 120px;
    height: 130px;
    top: 30px;
    left: 360px;
}

/*la caja de la puerta*/
#puerta{
    position: absolute;
    width: 60px;
    height: 130px;
    bottom: 200px;
    right: 680px;
}

/*todo lo relacionado con el fantasma*/
#ventana{
    position: absolute;
    width: 70px;
    height: 110px;
    bottom: 230px;
    right: 800px; 
}
#fant img {
    position:absolute;
    width: 100px;
    top:350px;
    left:750px;
    right: 1000px;
    visibility: hidden;
}

/*Botones, aqui se encuentran el boton de pista y musica*/

#botonmusic{
    border: 2px solid rgb(138, 187, 24);
    visibility: visible;
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 825px;
    right: 1385px; 
}

#botonmusic2{
    border: 2px solid rgb(138, 187, 24);
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 825px;
    right: 1385px;   
}
#uwu{
    visibility: visible;
    position: absolute;
    left: 60px;
    
    padding: 5px;
    color: blueviolet;   
}
#pista{
    visibility: visible;
    position: absolute;
    left: 150px;
    
    padding: 5px;
    color: blueviolet; 
}
#pistaboton{
    border: 2px solid rgb(138, 187, 24);
    visibility: visible;
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 825px;
    right: 1300px; 
}
#pistaboton2{
    border: 2px solid rgb(138, 187, 24);
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 825px;
    right: 1300px; 
}
/*La caja de las lamparas*/

#lampara{
    position: absolute;
    width: 70px;
    height: 110px;
    bottom: 555px;
    left: 310px; 
}

#lampara2{
    position: absolute;
    width: 70px;
    height: 110px;
    bottom: 555px;
    right: 275px;
    

}
/*todo lo relacionado con la bruja*/
#cajabruja{
    position: absolute;
    width: 80px;
    height: 110px;
    top: 0px;
    left: 530px;
    
}
#brujita{
    width: 1500px;
    margin: auto;
    position: relative;
}
#bruja{
    position:absolute;
    width: 130px;
    top:-880px;
    left:510px;
    right: 1000px;
}
#risamovimiento{
    font-family:'Terror2' ;
    position: absolute;
    color: brown;
    font-size: 30px ;
    top: -15px;
    left: 480px;
    animation-name: risamovimiento;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes risamovimiento{
40%{
    transform: rotate(15deg);
}
75%{
    transform: rotate(-15deg);
}
}
/*todo lo relacionado con el zombie*/
#cajazombie{
    position: absolute;
    width: 100px;
    height: 120px;
    bottom: 0px;
    left: 500px;
    
}

#zombie{
    position: absolute;
    width: 300px;
    bottom: 10px;
    left: 600px;
    visibility: hidden;
}


/*todo lo relacionado con el jumpscare*/
#jumpscare{
    visibility: hidden;
    position: absolute;
    width: 1200px;
    top:-920px;
    right: 100px;
}



#ventanajumpscare{
    position: absolute;
    width: 80px;
    height: 110px;
    bottom: 410px;
    right: 660px;
    
}

#zzz{
    font-family: 'Terror2';
    font-size: 2em;
    position: absolute;
    color: brown;
    right: 660px;
    top: 370px;
    animation-name: zzmovimiento;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes zzmovimiento{

    50%{
        font-size: 2.5em;
        opacity: 50;
    }

    100%{
        font-size: 2em;
        right: 550px; 
        top: 350px; 
        opacity: 0;
    }
}



#verja{
    
    visibility: visible;
    position: absolute;
    height: 560px;
    width: 400px;
    bottom: 0px;
    left: 25px; 
    transform: rotate(8deg);
}
#verja2{
    
    visibility: visible;
    position: absolute;
    height: 560px;
    width: 400px;
    bottom: 0px;
    right: -28px; 
    transform: rotate(-7deg);
}

/*texto y efectos de texto 1*/
#textoterror{
    font-family: 'Terror';
    position: absolute;
    width: 1000px;
    height: 130px;
    bottom: 650px;
    right: -350px;
    font-size: 90px;
    color: brown;
    animation-name: siniestro;
    animation-duration: 7s;
}

@keyframes siniestro{
    50%{
        color: aqua;
        font-size: 150px;
        width: 1500px;
        bottom: 300px;
        right: -250px;
    }
    
}

/*texto y efectos de texto 2*/
#textoterror2{
    font-family: 'Terror2';
    position: absolute;
    width: 1000px;
    height: 130px;
    bottom: 550px;
    right: -500px;
    font-size: 90px;
    color: rgb(175, 190, 38);
    animation-name: cambiocolor;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes cambiocolor{
    20%{color: aquamarine;}
    40%{color: rgb(59, 59, 209);}
    60%{color: rgb(119, 53, 182);}
    90%{color: rgb(202, 146, 42);}
}

#textoterror3{
    font-family: 'Terror3';
    position: absolute;
    width: 1000px;
    height: 130px;
    bottom: -100px;
    right: -800px;
    font-size: 90px;
    color: rgb(56, 190, 38);
}




#circulo{
    visibility: hidden;
    position: absolute;
    color: aqua;
    animation-name: siniestro2;
    animation-duration: 5s;
    top:-100px;
    right: 50px;
    animation-iteration-count: infinite;
}

@keyframes siniestro2{

25%{
    top:-110px;
    right: 45px;;
}
50%{
    top: -90px;
    right: 20px;
}
75%{
    top:-80px;
    right: 30px;
}
}


