/*************************************************/
/*         Hoja de estilo tarta.html             */
/*         Autor; Boris Gallego Ríos             */
/*         Version:1.0                           */
/*         Comentario: ejercicio para portfolio  */
/*************************************************/
/*Tortilla de pata */
/*Ingredientes */
/*Programación */
/*estudio nutricional */

*{box-sizing: border-box;} /*indica que el width de cada box sera contando el borde hacia adentro*/
body{background-color: rgb(255, 119, 0);
background-image: url(../img/fondouwu.jpg);}

@font-face {
        font-family: letranormal;
        src: url(../fonts/Creative\ Wonder.otf);

}
@font-face {
        font-family: letramal;
        src: url(../fonts/Roboto-Regular.ttf);
}
#wrapper { 
        background-color: white;
        
        width: 80%;
        margin:auto;
        padding: 3%;
        border-radius: 10%;
}




h1,h2{
        
        font-family: letranormal;
        text-align: center;
        border-bottom:2px solid red;
        width: 80%;
        margin: auto;
        padding: 5px;
        margin-bottom:40px;
        
        
}

ul{
        list-style-image: url(../img/pizzabuttonxd.png);
        margin-left: 10%;
        margin-right: 10%;   
    }

ul p{
        margin-top: 4%
}


li{
        margin-top: 10px;
}

ol{
        
        margin-left: 10%;
        margin-right: 10%;   
}

blockquote{
        font-family: letramal;
        margin-left:10%;
}

a{
        
        
        
        margin-left: 47%;
        
}
