/*************************************************/
/*         Hoja de estilo tarta.html             */
/*         Autor; Boris Gallego Ríos             */
/*         Version:1.0                           */
/*         Comentario: ejercicio para portfolio  */
/*************************************************/
/*Tortilla de pata */
/*Ingredientes */
/*Programación */
/*estudio nutricional */

*{box-sizing: border-box;} /*indica que el width de cada box sera contando el borde hacia adentro*/
body{background-color: rgb(255, 119, 0);
background-image: url(../img/fondouwu.jpg);}

@font-face {
        font-family: letranormal;
        src: url(../fonts/Creative\ Wonder.otf);

}
@font-face {
        font-family: letramal;
        src: url(../fonts/Ldfcomicsansbold-zgma.ttf);
}
@font-face {
        font-family: comicitalic;
        src: url(../fonts/comic-sans-ms-bold-italic.ttf);
}
#wrapper { 
        background-color: white;
        
        width: 80%;
        margin:auto;
        padding: 3%;
        border-radius: 10%;
}

#pizza{display:block; /*convierte la imagen en un bloque*/
        margin:auto; /*centra la imagen*/
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 50%; /*ajusta el tamaño de la imagen*/
}


h1,h2{
        
        font-family: letranormal;
        text-align: center;
        border-bottom:2px solid red;
        width: 80%;
        margin: auto;
        padding: 5px;
        margin-bottom:40px;
        text-shadow: 2px 2px #F1BF00;
        
}

ul{
        font-family: letramal;
        list-style-image: url(../img/pizzabuttonxd.png);
        margin-left: 10%;
        margin-right: 10%;   
    }

ul p{
        margin-top: 4%
}


li{
        margin-top: 10px;
}

ol{
        font-family: letramal;
        margin-left: 8%;
        margin-right: 10%;   
}

dl{
        font-family: letramal;
        margin-left: 10%;
        margin-right: 10%;   
}

dl a{ 
        padding-top: 10px;
        text-align: center;
        display:block;
        margin:auto;
        
}


blockquote{
        text-align: center;
        font-family: comicitalic;
        
}

@media only screen and (width<800px){ /*corte para una tablet*/ 
        
        #wrapper {width: 95%}
        h1,h2 {width: 95%;}
}

@media only screen and (width<600px){ /*corte para un movil*/
h1 {font-size: 2.5em;}
h1 {font-size: 1.5em;}
}
